.score {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #6f5ebb;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.score__number {
  line-height: 2;
  color: var(--white);
}
